PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/workbridge
JWT_SECRET=srsecrsetsjwtkeychangeinffffffprofdduction
JWT_REFRESH_SECRET=sssdecretsssfjwtrefrsssssseshkeyffffffffdchangeinproduction
JWT_EXPIRE=1d
JWT_REFRESH_EXPIRE=7d
NODE_ENV=development
